<!DOCTYPE html>
<html lang="en" ng-app="myApp">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
 
    <title>AngularJS & Firebase Web App</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
 
    <link href="justified-nav.css" rel="stylesheet">
 
</head>
 
<body ng-controller="HomeCtrl">
 
    <div class="container">
        <div class="jumbotron" style="padding-bottom:0px;">
            <h2>AngularJS App!</h2>
        </div>
        <form class="form-signin" role="form">
            <input type="email" ng-model="user.email" class="form-control" placeholder="Email address" required="" autofocus="">
            <input type="password" ng-model="user.password" class="form-control" placeholder="Password" required="">
            <label class="checkbox">
                <a href="#"> Sign Up</>
        </label>
        <button class="btn btn-lg btn-primary btn-block" ng-click="SignIn($event)" type="submit">Sign in</button>
      </form>
 
    </div>
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBrKSHAFm1mFRUCsbDpXkcX773P42S1dOA",
    authDomain: "angularjs-app-6e5da.firebaseapp.com",
    databaseURL: "https://angularjs-app-6e5da.firebaseio.com",
    storageBucket: "angularjs-app-6e5da.appspot.com",
  };
  firebase.initializeApp(config);
</script>
 
   
 
</body></html>