<div class="container">
  <form class="form-horizontal" id="addEventForm" name ="addEventForm" ng-submit='eventCtl.submitForm(eventForm)'>
    <div class="row">
    	<div class="col-sm-10">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="name" class="col-md-4 control-label">Name:</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model='eventForm.name'>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="description" class="col-md-4 control-label">Description:</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="description" placeholder="Description" ng-model='eventForm.description'>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="date" class="col-md-4 control-label">Date:</label>
          <div class="col-md-8">
            <input type="date" class="form-control" id="date" placeholder="Date" ng-model='eventForm.date'>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="category" class="col-md-4 control-label">Category:</label>
          <div class="col-md-8">
            <select class="form-control" id="category" placeholder="Category" ng-model='eventForm.category' ng-options='category.id as category.name for category in eventCtl.categories'>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="location" class="col-md-4 control-label">Location:</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="location" placeholder="Location" ng-model='eventForm.location'>
          </div>
        </div>
      </div>
       <div class="col-sm-6">
        <div class="form-group">
          <label for="email" class="col-md-4 control-label">Email:</label>
          <div class="col-md-8">
            <input type="email" class="form-control" id="email" placeholder="Email" ng-model='eventForm.email'>
          </div>
        </div>
      </div>
      <div class="col-sm-12" align="center">
         <input type="submit" class="btn btn-primary" style="align:center;vertical-align:middle;">
      </div>

    </div>
     <div class="col-sm-2" align="center">
      		<div ng-repeat='event in eventCtl.event'>
      			<table>
      				<tr><td>Event Name</td></tr>
      				<tr><td>{{event.name}}</td></tr>
      			</table>
      		</div>
      </div>
    </div>
  </form>
</div>